:root {
    --theory: #8400ff;
    --elective: #ffcc00;
    --lab: skyblue;
    --project: #9c4cac;
    --free: #f44336;

    --bg: #f0f0f0;
    --card: #ffffff;
    --text: #333333;
    --active: limegreen;
}

*{box-sizing: border-box;}
body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: var(--bg);
        color: var(--text);
        margin: 0;
}

header{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    background-color: #151B23;
    color: whitesmoke;
}

header > *:first-child {
    flex-basis: 100%;
}
header button{
    background: none;
    flex: 0 0 auto;
    border: none;
    color: whitesmoke;
    font-size: 25px;
    cursor: pointer;
}

header h1{
    font-size: 20px;
    margin: 0 0 0 0;
    font-weight:600;
    text-align: center;
}
#dayinfo{
    font-size: 18px;
    flex: 1 1 auto;
    text-align: center;
    font-weight: 500;
}

main{ padding: 16px;}

.period{
    background-color: var(--card);
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 6px solid transparent;
}
.period.active{
    border-color: var(--active);
    box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.3);
}
.info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.time{
    font-size: 12px;
    opacity: 0.7;
}
.subject{
    font-weight: 600;
    margin-top: 4px;
}

.type{
    padding: 6px 10px;
    border-radius: 999px;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    white-space: nowrap;
}

.theory{
    background-color: var(--theory);
}
.elective{
    background-color: var(--elective); color: #333333;
}
.lab, .workshop{
    background-color: var(--lab);
}
.project, .seminar, .other{
    background-color: var(--project);
}
.free, .sp, .break{
    background-color: var(--free);
}
